<div class="min-h-screen " style="background-image: url(https://images.unsplash.com/photo-1488554378835-f7acf46e6c98?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80); background-repeat: no-repeat; background-size: cover; background-position: center;">
  <div class="w-full min-h-screen -backdrop-hue-rotate-30 backdrop-blur-md flex justify-center place-items-center">
   <app-header></app-header>
    <div class="flex w-full px-11 justify-center place-items-center h-4/5 ">
      <div class="left w-full  pl-20 min-h-full">

        <div class="title mb-7">
          <h1 class="text-7xl font-bold">Mercury<span class="text-xl font-normal">Media Studios</span></h1>
        </div>

        <div class="content font-thin w-3/5 border-l-2 border-secondary pl-4 mb-6">
          <!-- <div class="line h- bg-secondary">&nbsp;</div> -->
          <p class="text-xl">We are a photography and cinematography company with only one wish. <br>To capture precious memories <span class="font-bold">for you</span></p>
        </div>

        <button class="btn btn-sm btn-ghost border-2 border-secondary rounded-full hover:bg-secondary capitalize font-medium ">Book Us</button>

      </div>
      <div class="right w-full hidden md:block">
        <img src="../../../assets/Cameras.png" alt="" class="w-full cameras">
      </div>
    </div>










  </div>
</div>
